.homeButton {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeButton svg {
  transition: fill 0.25s ease;
  fill: #4589ff;
}

.homeButton:hover svg {
  fill: #0353e9;
}
