.homeButton {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;
  z-index: 1;
}

.homeButton svg {
  transition: fill 0.25s ease;
  fill: var(--blue);
}

.homeButton:hover svg {
  fill: var(--blue-hover);
}
@media (max-width: 600px) {
  .homeButton {
    left: auto;
    right: 0.5rem;
  }
}
