.wrapper {
  margin: 1rem auto;
  max-width: 800px;
  position: relative;
}

.cardList {
  margin-top: 1rem;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-auto-rows: minmax(300px, auto);
}

.noResults {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  object-fit: cover;
  margin-top: 20vh;
}

.noResults p {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .wrapper {
    padding: 0.5rem;
  }
  .cardList {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-auto-rows: minmax(200px, auto);
  }
}
